<div ng-controller="searchAddressController" class="container padding-y--large">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h3 class="headline-m">Welcome to <span class="text-blue">NotinPhilly.org!</span></h3>
      <p>Let's begin with finding your block and participating streets nearby:</p>
    </div>
  </div>
  <div class="row padding-y">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="input-group">
        <input id="address-search" search-autocomplete ng-model="autocomplete" options="autocompleteOptions" details="addressDetails" type="text" class="form-control input-lg" placeholder="Enter your address..." />
        <div ng-show="hasAddress()" class="input-group-addon" ng-click="clearSearch()"><i class="fa fa-close"></i></div>
        <div class="input-group-addon btn btn--blue" ng-click="findStreet()">Go!</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row padding-y--small" ng-show="hasStreets()">
      <div class="col-xs-5">
        <h4>We found {{totalStreets}} streets nearby:</h4>
      </div>
      <div class="col-xs-3 pull-right text-right">
        <a href="" ng-click="switchToMap()">View on map</a>
      </div>
    </div>
    <div class="row">
      <div class="found-streets-items col-md-12 clearfix">
        <streetslist streets-show="searchAddress.pagedStreets" streets-all="searchAddress.streets"/>
        <div ng-show="searchAddress.hasMoreStreets">
          <div class="col-md-2">
          </div>
          <div class="col-md-7">
            <a class="btn bth-sm btn--yellow btn-block" href="" ng-click="loadMore()">
              Load more &raquo;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>